/* ======= BASIC STYLES ======= */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body, html {
  height: 100%;
  overflow-x: hidden;
}
html {
  font-size: 16px;
  font-weight: 400;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}
body {
  margin: 0;
  padding:0px;
  background-color: #232323;
  height: 100%;
  position: relative;
  font-family: FFDINWebPro, sans-serif;
  font-weight: 400;
  line-height: 1;
  font-size: 100%;
  display: block;
  -webkit-font-smoothing:antialiased;
  overflow-x:hidden;
  -ms-overflow-x:hidden;
}
body h1 {
  font-family: FFDINWebProBold;
  font-size: 36px;
  color: #db2c3b;
  text-align: center;
}
body h2 {
  font-family: FFDINWebPro;
  color: #db2c3b;
  font-size: 30px;
  font-weight: 700;
  margin: 10px 0;
}
body h3 {
  font-family: FFDINWebPro;
  font-size: 28px;
  font-weight: 400;
}
body h4 {
  font-family: FFDINWebPro;
  font-size: 22px;
  line-height: 24px;
  font-weight: 300;
  margin: 0 auto;
}
body p {
  text-align: left;
  line-height: 18px;
  font-size: 16px;
  font-weight: 500;
}
.container, .container-fluid {
  min-width: 300px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.container:before,
.container:after,
.clearfix:before,
.clearfix:after,
.content-row:before,
.content-row:after,
.row:before,
.row:after {
  content: " ";
  display: table;
}
.clearfix:after,
.container:after,
.content-row:after,
.container-fluid:after,
.row:after {
  clear: both;
}
.content-row {
  margin-left: 0 !important;
  margin-right: 0 !important;
  margin: 0 !important;
}
.column-container > .txt-wrapper > *:last-child {
  margin-bottom: 0;
}
.row {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 1200px;
}
div,
section {
  display: block;
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
section {
  display: block;
}
#content {
  background-color: #fff;
  padding-top: 14px;
  padding-bottom: 30px;
  text-align: center;
  margin-left: 0 !important;
  margin-right: 0 !important;
  margin: 0 !important;
}
#content a {
  color: #db2c3b;
}
#content a:hover {
  color: #404040;
}
a {
    background-color: transparent;
    text-decoration: none;
}
a:hover {
  text-decoration: none;
  color: #404040;
}
.active {
    color: #db2c3b !important;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
li {
  display: inline-block;
}
.crumbs {
  margin: 20px auto;
  font-size: 12px;
  text-align: left;
}
.crumbs li {
  margin: 0 2px;
}
.crumbs li a {
  color: #232323;
}
.redText {
  color: #db2c3b !important;
}
.pushRight {
  float: right;
  display: inline-block;
  margin-top: 15px;
  padding-bottom: 20px;
}
.push {
  margin-bottom: 10px;
}
.push h1{
  font-weight: 600;
  font-size: 36px;
}
#wrapper {
  max-width: 1280px;
  margin: 0 auto;
}
.wrapper {
  width: 80%;
  margin: 0 auto;
}
.wrapper h1 {
  text-align: center;
  color: #db2c3b;
  font-weight: 300;
}
.main{
  width: 80%;
  margin: 0 auto;
  padding-bottom: 50px;
}
.main h2 {
  font-size: 36px;
  margin-top: 0px;
}
.vertical {
  width: 0;
  height: 100%;
}

/*Images*/
img {
  vertical-align: middle;
}
.img-thumbnail {
  padding: 4px;
  line-height: 1.42857143;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 4px;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  display: inline-block;
  max-width: 100%;
  height: auto;
}

/*Header*/
#header {
  width: 100%;
  background-color: #232323;
  height: 70px;
  padding: 10px 0px;
}

/*navigation*/
#head-wrap {
  background: #232323;
  padding: 10px 18px 0px 25px;
}
#nav1 {
  float: left;
  width: 40%;
}
#nav2 {
  float: right;
  width: 60%;
}
#nav2 a:hover {
  text-decoration: none;
  color: #404040;
}
#nav2 a:active {
  color: #232323;
}
#nav2 .menu:first-child {
  padding-top: 4px;
}
.logo-div {
  display: inline-block;
  margin-right: 0;
  margin-left: 0;
  padding: 4px 0 15px 0;
  width: 20%;
  float: left;
}
.logo-text-img {
  width: auto;
  height: 100%;
  max-height: 50px;
  display: block;
}
#top-title {
  font-size: 21px;
  font-weight: 500;
  color: #fff;
  text-transform: uppercase;
  padding-top: 20px;
}
.menu {
  float: right;
  width: 100%;
  margin: 0;
  text-align: right;
}
.menu ul {
    float: right;
}
.mm-menu > .mm-panel {
  background: #232323;
}
.mm-listview > li > a {
  color: #fff;
  text-transform: uppercase;
}
.mm-menu .mm-listview > li:after {
  border-color: rgba(255,255,255,0.1);
}
.fa-bars {
  font-size: 42px;
  color: #fff;
}
#form {
  float: right;
  margin-left: 10px;
  background: #404040;
  border: 1px solid #000;
  padding: 2px 4px;
  font-size: 16px;
}
input[type=search] {
  -webkit-appearance: none;
  -moz-webkit-appearance: none;
  -ms-webkit-appearance: none;
  -o-webkit-appearance: none;
  webkit-appearance: none;
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
  margin: 0px;
  max-width: 125px;
}
#searchBox {
  background: #404040;
  border: 1px none;
  color: #fff;
}
input:focus {
  outline: none !important;
}
#m-glass {
    color: white;
    z-index: 1;
    margin-right: 5px;
}
.fa-search {
  font-size: 16px;
}
.bg-img2 {
  width: auto;
}
.top-li a {
  text-align: center;
  line-height: 28px;
  color: #fff;
  text-transform: uppercase;
  font-size: 12px;
  font-family: 'FFDINWebProBold';
}
.main-li a {
  height: 30px;
  text-align: center;
  line-height: 22px;
  color: #fff;
  text-transform: uppercase;
  font-size: 18px;
  margin-left: 20px;
  font-family: 'FFDINWebProBold';
}
.bold-links {
  font-weight: bold;
  text-transform: uppercase;
  color: black;
  padding-right: 10px;
  font-size: 14px;
}

/*homepage*/
#homeSlide {
  max-height: 80%;
  overflow: hidden;
}
#homeSlide img {
  width: 100%;
}
#homepage-slider {
  overflow: hidden;
  width: 100%;
  border-bottom: 4px solid #000;
  cursor: pointer;
}
.slideImg {
  position: relative;
}
.main-text {
  position: absolute;
  top: 300px;
  width: 100%;
}
.main-text .slide-box {
  background: rgba(255, 255, 255, 0.85);
  margin-left: 20px;
}
.main-text .caption-logo {
  display: inline-block;
  height: auto;
}
.main-text .caption-logo img {
  width: 100%;
  margin: 10px 0;
}
.main-text .caption-text {
  display: inline-block;
  position: relative;
}
.main-text .caption-text h1 {
  text-transform: uppercase;
  font-size: 38px;
  font-weight: 500;
  padding-bottom: 0px;
  color: #fff;
  text-shadow: 2px 2px 2px #1f1f1f;
  margin: 38px auto;
}
.main-text ul {
  text-align: center;
}
.main-text .bold-links {
  font-weight: 700;
  font-size: 21px;
  padding: 4px 10px;
}
.white-section {
  top: 55%;
  left: 8%;
  background: rgba(299,299,299,0.85);
  position: absolute;
  width: 60%;
  height: auto;
  padding: 0px 10px;
  min-width: 700px;
}
.white-section .box-logo {
  display: inline-block;
}
.white-section .box-logo-img {
  max-width: 200px;
  display: inline-block;
  height: auto;
  margin: 10px;
}
.white-section .box-text {
  display: inline-block;
  position: relative;
}
.white-section h1 {
  font-weight: 500;
  font-size: 38px;
  text-transform: uppercase;
  text-shadow: 2px 2px 2px #1f1f1f;
  padding-left: 20px;
  padding-bottom: 0px;
  float: left;
}
.white-section ul {
  margin: 0 auto 10px auto;
  text-align: center;
  width: 100%;
}
.white-section li {
  font-weight: 700;
  font-size: 21px;
  padding: 4px 30px;
}
.white-section img {
  float: left;
  min-width: 140px !important;
}
.pink-box {
  text-align: left;
}
.box {
  padding: 10px 8px;
  margin-right: 15px;
  border: 1px solid #FFF;
  text-align: center;
  width: 100%;
}
a .box {
  color: #FFF;
}
.box:hover {
  background-color: #FFF;
  color: #db2c3b;
}


/*Carousel*/
.pull-right {
  float: right !important;
}
.pull-left {
  float: left !important;
}
.hide {
  display: none !important;
}
.show {
  display: block !important;
}
.invisible {
  visibility: hidden;
}
.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.hidden {
  display: none !important;
}
.affix {
  position: fixed;
}
figure {
  margin: 0;
}
.img-responsive,
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  display: block;
  max-width: 100%;
  height: auto;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.sr-only-focusable:active,
.sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto;
}
[role="button"] {
  cursor: pointer;
}
.carousel {
  position: relative;
}
.carousel-inner {
  position: relative;
  overflow: hidden;
  width: 100%;
}
.carousel-inner img {
  margin-bottom: -10px;
  width: 100%;
}
.carousel-inner > .item {
  display: none;
  position: relative;
  -webkit-transition: 0.6s ease-in-out left;
  -o-transition: 0.6s ease-in-out left;
  transition: 0.6s ease-in-out left;
}
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  line-height: 1;
}
@media all and (transform-3d), (-webkit-transform-3d) {
  .carousel-inner > .item {
    -webkit-transition: -webkit-transform 0.6s ease-in-out;
    -o-transition: -o-transform 0.6s ease-in-out;
    transition: transform 0.6s ease-in-out;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-perspective: 1000px;
    perspective: 1000px;
  }
  .carousel-inner > .item.next,
  .carousel-inner > .item.active.right {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    left: 0;
  }
  .carousel-inner > .item.prev,
  .carousel-inner > .item.active.left {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    left: 0;
  }
  .carousel-inner > .item.next.left,
  .carousel-inner > .item.prev.right,
  .carousel-inner > .item.active {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    left: 0;
  }
}
.carousel-inner > .active,
.carousel-inner > .next,
.carousel-inner > .prev {
  display: block;
}
.carousel-inner > .active {
  left: 0;
}
.carousel-inner > .next,
.carousel-inner > .prev {
  position: absolute;
  top: 0;
  width: 100%;
}
.carousel-inner > .next {
  left: 100%;
}
.carousel-inner > .prev {
  left: -100%;
}
.carousel-inner > .next.left,
.carousel-inner > .prev.right {
  left: 0;
}
.carousel-inner > .active.left {
  left: -100%;
}
.carousel-inner > .active.right {
  left: 100%;
}
.carousel-control {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 15%;
  opacity: 1;
  filter: alpha(opacity=50);
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
  background-color: rgba(0, 0, 0, 0);
}
.carousel-control.left {
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.0001) 100%);
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.0001) 100%);
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.0001)));
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.0001) 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
}
.carousel-control.right {
  left: auto;
  right: 0;
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.3) 100%);
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.3) 100%);
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.0001)), to(rgba(0, 0, 0, 0.3)));
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.3) 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
}
.carousel-control:hover,
.carousel-control:focus {
  outline: 0;
  color: #ffffff;
  text-decoration: none;
  opacity: 0.9;
  filter: alpha(opacity=90);
}
.carousel-control .icon-prev,
.carousel-control .icon-next,
.carousel-control .glyphicon-chevron-left,
.carousel-control .glyphicon-chevron-right {
  position: absolute;
  top: 50%;
  margin-top: -10px;
  z-index: 5;
  display: inline-block;
}
.carousel-control .icon-prev,
.carousel-control .glyphicon-chevron-left {
  left: 30%;
  margin-left: -10px;
}
.carousel-control .icon-next,
.carousel-control .glyphicon-chevron-right {
  right: 30%;
  margin-right: -10px;
}
.carousel-control .icon-prev,
.carousel-control .icon-next {
  width: 20px;
  height: 20px;
  line-height: 1;
  font-family: serif;
  height: 100px;
  cursor: pointer;
}
.carousel-control .icon-prev:before {
  content: "\f104";
  font-family: FontAwesome;
  font-size: 80px;
}
.carousel-control [dir="rtl"] .icon-prev:before {
  content: "\f104";
  font-family: FontAwesome;
  font-size: 80px;
}
.carousel-control .icon-next:before {
  content: "\f105";
  font-family: FontAwesome;
  font-size: 80px;
}
.carousel-control [dir="rtl"] .icon-next:before {
  content: "\f105";
  font-family: FontAwesome;
  font-size: 80px;
}
.carousel-indicators {
  position: absolute;
  bottom: 10px;
  left: 50%;
  z-index: 15;
  width: 60%;
  margin-left: -30%;
  padding-left: 0;
  list-style: none;
  text-align: center;
}
.carousel-indicators li {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 1px;
  text-indent: -999px;
  border: 1px solid #ffffff;
  border-radius: 10px;
  cursor: pointer;
  background-color: #000 \9;
  background-color: rgba(0, 0, 0, 0);
}
.carousel-indicators .active {
  margin: 0;
  width: 12px;
  height: 12px;
  background-color: #ffffff;
}
.carousel-caption {
  position: absolute;
  left: 15%;
  right: 15%;
  bottom: 20px;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #ffffff;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
}
.carousel-caption .btn {
  text-shadow: none;
}

/*Header Image*/
#mainImage {
  width: 100%;
  height: 330px;
  position: relative;
  overflow: hidden;
  margin-bottom: 0px;
  border-bottom: 3px solid #232323;
}
#mainImage img {
  width: 100%;
  height: auto;
}

/* ======= PRODUCTS ======= */
.img-header {
    max-width: 1280px;
    position: relative;
    width: 100%;
}
.bg-img2 {
    position: relative;
    width: 100%;
    height: auto;
    z-index: 1;
}

.pink-box {
  display: none;
    background-color: #db2c3b;
    width: 420px;
    height: 100px;
    position: absolute;
    top: 200px;
    left: 10%;
    z-index: 2;
    opacity: 0.85;
    filter: alpha(opacity=85);
}
.pink-box h1 {
    text-transform: uppercase;
    color: white;
  font-weight: 700;
    text-shadow: 1px 1px 1px #1f1f1f;
    font-size: 42px;
    padding: 0 0 30px 30px;
    /*margin-top: 0px;*/
}
#white-wrapper {
    margin: 10px;
    padding-left: 100px;
    padding-right: 100px;
}
.bt-margin {
    margin: 60px 0;
    text-align: center;
}
.close {
    padding-left: 10%;
    padding-right: 10%;
}
.closer {
    padding-left: 15%;
    padding-right: 15%;
}
.half {
    width: 46%;
    float: left;
    padding-left: 2%;
    padding-right: 2%;
}
ul.sectionBody {
  list-style-type: disc;
}
ul.sectionBody li {
  text-align: left;
  display: list-item;
  margin-left: 20px;
}
.two-lists li {
    display: block;
    width: 50%;
}
.one-list li {
    display: block;
    width: 100%;
}
.leed-sec p{
    float: left;
    width: 33.33%;
}
#data {
  background-color: #404040;
  padding: 40px 0px;
  color: #FFF;
}
#data small {
  color: #FFF;
}
.techTable td {
  width: 50%;
  vertical-align: top;
  padding-left: 40px;
}
.techTable h1 {
  font-size:  25px;
  font-weight: 300;
  margin-bottom: 0px;
  text-transform: uppercase;
  color: #dcb2c3b;
  text-align: left;
}
.techTable h2 {
  font-size: 21px;
  font-weight: 400;
  color: #FFF; /* Cam had to fix */
}
.dataSheet {
  float: left;
  padding-left: 15px;
  width: 90%;
}
.dataSheet li {
  width: 100%;
}
.borderRight {
  border-right: 2px solid #666666;
}

/* ======= PRODUCTS STYLES ======= */
#white-wrapper h2 {
    font-size: 20px;
}
#white-wrapper h3 {
    font-size: 18px;
    color: #666;
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 5px;
}
#white-wrapper p {
    color: #db2c3b;
    font-size: 18px;
}
#white-wrapper li {
    color: #db2c3b;
    font-size: 14px;
    line-height: 1.6em;
}
.leed-sec h2 {
    margin-bottom: 5px;
}



.product-desc {
    width: 100%;
    text-align: center;
    margin-bottom: 55px;
}
.product-title {
    color: #db2c3b;
    margin-top: 10px;
}
.product-summ {
    margin-left: 175px;
    margin-right: 175px;
}
.product-data {
    background-color: #404040;
}
.data-h1 {
    text-transform: uppercase;
    color: white;
    font-weight: 300;
    padding-top: 10px;
}
.tech-data {
    width: 45%;
    float: left;
    margin-left: 2.5%;
    margin-right: 2.5%;
}
.tech-data ul li {
    width: 98%;
    margin-left: 2%;
    color: white;
    padding-bottom: 5px;
}
.tech-data ul ul li {
    display: inline;
}
.tech-data ul ul li a {
    display: inline-block;
    padding: 5px 8px;
    border: 1px solid white;
    margin-top: 3px;
    color: white;
    font-size: 10px;
    text-align: center;
    width: 50px;
}
.add-resources ul li {
    width: 98%;
    margin-left: 2%;
    color: white;
    padding-bottom: 5px
}
.add-resources {
    width: 45%;
    float: right;
    margin-left: 2.5%;
    margin-right: 2.5%;
}
.add-resources ul ul li {
    display: inline;
}
.add-resources ul ul li a {
    display: inline-block;
    padding: 5px 8px;
    border: 1px solid white;
    margin-top: 3px;
    color: white;
    font-size: 10px;
    text-align: center;
    width: 50px;
}

/*about page*/
#about {
  background-color: #fff;
  text-align: center;
  padding-bottom: 60px;
}
#about a {
  color: #db2c3b;
}
#about a:hover {
  color: #404040;
}
#about a:visited {
  color: #db2c3b;
}
.about-inner {
  padding-bottom: 30px;
}
#news-contact {
  background-color: #404040;
  color: #fff;
}
#news-contact h2 {
  text-align: center;
}
#news-contact .text-wrapper:first-of-type {
  max-width: 877px;
  margin: 0 auto;
}
#news-contact .content-inner {
  padding: 30px 15px;
}
.news-contact li {
    margin: 0 4px;
    color: #404040;
}
#news .row {
  margin-bottom: 10px;
}
#news p {
  padding-top: 0;
  margin: 0 auto;
  font-size: 21px;
  line-height: 24px;
}
#news .date {
  color: #db2c3b;
  font-size: 16px;
  padding-top: 10px;
}
#contact {
  padding: 0 !important;
  text-align: center;
}
#contact h4 {
  padding-top: 0;
  margin: 0 auto;
}
#contact p {
  font-size: 16px;
  line-height: 24px;
  text-align: center;
}

/*products page*/
.panel-heading {
  border-bottom: 2px solid #e5e5e5;
  box-sizing: border-box;
}
.panel-heading h3{
  display: inline-block;
  margin-bottom: 0px;
  margin: 8px auto;
}
.panel-heading i{
  display: inline-block;
  margin: auto 10px;
  font-size: 22px;
  line-height: 28px;
  padding-left: 4px;
}
.panel-heading a[aria-expanded="true"] {
  padding-bottom: 4px;
}
.panel-heading a[aria-expanded="false"] i {
  transform: rotate(-90deg);
  padding-bottom: 0px;

}
.type {
  color: #000 !important;
}
.panel-body {
  padding-left: 32px;
}
.product-list {
  text-align: left;
}
.product-list ul{
  padding: 10px 20px;
  -webkit-columns:3;
  -moz-columns: 3;
  columns: 3;
}
.product-list ul li {
  display: block;
  padding: 4px 4px;
  -webkit-column-break-inside: avoid;
  page-break-inside:avoid;
  break-inside: avoid;
}
.type {
  color: #000000 !important;
}
.products {
  padding-bottom: 30px;
}
.products h2 {
  color: #000000;
}
.products h3 {
  color: #666666;
  padding-top: 0;
  margin-top: 0;
}
.products .col-md-6 {
  padding: 0;
}
.products .col-md-6 h3 {
  margin-bottom: 26px;
}
.products li,
.products p {
  display: inline-block;
  font-size: 24px;
  margin: auto 40px;
  padding-bottom: 14px;
}
.products-gray {
  background-color: #404040 !important;
  text-align: left;
  box-sizing: border-box;
  color: #fff;
}
.products-gray h3 {
  color: #db2c3b;
  margin-left: 20px;
}
.products-gray h4 {
  text-align: left;
}
.products-info:first-child {
  border-right: 2px solid #666666;
}
.products-gray .row {
  margin-bottom: 10px;
}
.products-gray p {
  color: #fff;
  padding-top: 0;
  margin: 0 auto;
  font-size: 21px;
  line-height: 24px;
}
.fade {
  opacity: 0;
  -webkit-transition: opacity 0.15s linear;
  transition: opacity 0.15s linear;
}
.fade.in {
  opacity: 1;
}
.collapse {
  display: none;
}
.collapse.in {
  display: block;
}
tr.collapse.in {
  display: table-row;
}
tbody.collapse.in {
  display: table-row-group;
}
.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition-property: height, visibility;
  transition-property: height, visibility;
  -webkit-transition-duration: 0.35s;
  transition-duration: 0.35s;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
}
/*table*/
#sw-table thead th:first-child {
  border-bottom: none;
}
#sw-table tbody th {
  background-color: #db2c3b;
}
#key tr:first-child td {
  border-top: 2px solid #e5e5e5;
}
#key tr:nth-child(n+2) {
  text-align: left;
}
#key td:first-child {
  border-left: 2px solid #e5e5e5;
}
#simple tbody tr th {
  border-bottom: 2px solid #e5e5e5;
}
#firefilm thead td {
  background-color: #e5e5e5;
}
#firefilm thead td.red {
  background-color: #db2c3b;
}
#firefilm tbody th {
  background-color: #e5e5e5;
}
#firebarrier h3 {
  border-bottom: 2px solid #e5e5e5;
  padding-bottom: 14px;
  margin-bottom: 14px;
}
.list h3 {
  text-align: left !important;
}
.list ul li {
  display: list-item !important;
  list-style: disc inside !important;
  text-align: left !important;
}
#firebarrier ul {
  list-style: disc inside none;
  border-right: none;
}
#firebarrier li {
  display: list-item;
  padding-bottom: 10px;
}
#firebarrier h4 {
  text-transform: uppercase;
  text-align: center;
  margin: 10px 0px;
  line-height: 24px;
  font-weight: 600;
}
#firebarrier h5 {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;
  margin: 8px 0px;
  line-height: 20px;
}
#firebarrier .table-responsive {
  border: 2px solid #666666;
}
#firebarrier .table caption {
  border-bottom: none !important;
}
#firebarrier tr.red td {
  background-color: #e5e5e5;
}
#firebarrier ul li {
  padding-bottom: 6px;
  display: block;
  font-size: 14px;
  line-height: 16px;
  -webkit-column-break-inside: avoid;
     page-break-inside: avoid;
          break-inside: avoid;
  font-weight: 400;
}
#firebarrier table.wrap {
  width: 100%;
}
#firebarrier table.wrap tr td {
  white-space: normal;
}
ul.columns {
  -webkit-columns: 3;
     -moz-columns: 3;
          columns: 3;
  padding-bottom: 10px;
}
ul.columns li {
  display: block !important;
  font-size: 14px;
}
#firebarrier tbody th,
#firebarrier tbody td {
  border-right: 2px solid #666666 !important;
  border-bottom: 2px solid #666666;
  font-size: 14px;
}
#firebarrier tbody th {
  background-color: #e5e5e5;
  border-top: 2px solid #666666;
  padding: 4px;
}
#firebarrier tbody th:first-child {
  border-left: 2px solid #666666;
}
#firebarrier tbody td {
  line-height: 16px;
  padding: 4px;
}
#firebarrier tbody td.red {
  background-color: #666666;
  padding: 8px 0;
  font-size: 14px;
  font-weight: 600;
}
#firebarrier tbody td.nbl {
  border-left: none !important;
}
#firebarrier tbody td:first-child {
  border-left: 2px solid #666666;
}
#firebarrier tfoot {
  text-align: center;
}
table tbody.legend tr th {
  border-right: 2px solid #666666;
  border-left: 2px solid #666666;
}
table tbody.legend tr td {
  vertical-align: top;
  padding: 0px;
  border-bottom: 2px solid #666666;
}
table tbody.legend tr td ul {
  padding-left: 10px;
}
table tbody.legend tr td li {
  text-align: left;
}
table tbody.legend tr td:last-child {
  border-right: 2px solid #666666;
}
.table-responsive {
  min-height: .01%;
  overflow-x: auto;
  border: 2px solid #e5e5e5;
  margin-bottom: 20px;
}
.table {
  border-spacing: 0;
  width: 100%;
  max-width: 100%;
  text-align: center;
}
.table caption h3 {
  margin: 0px auto 10px auto;
  text-transform: uppercase;
}
.table thead {
  vertical-align: bottom;
  font-weight: 600;
}
.table thead th {
  font-size: 18px;
  background-color: #fff;
  border-bottom: 2px solid #e5e5e5;
  vertical-align: bottom;
}
.table thead td {
  background-color: #e5e5e5;
  border-right: 2px solid #fff;
  border-bottom: none;
}
.table thead td.red {
  background-color: #db2c3b;
}
.table thead td.red:last-child {
  border-right: none;
}
.table tbody {
  text-align: center;
  vertical-align: top;
}
.table tbody th {
  background-color: #e5e5e5;
  font-weight: 600;
  border-bottom: 2px solid #fff;
  font-size: 16px;
}
.table tbody th:last-child {
  border-right: none !important;
}
.table tbody tr:nth-child(10) > th {
  border-bottom: 2px solid #e5e5e5;
}
.table tbody td {
  font-size: 14px;
  white-space: nowrap;
  border-bottom: 2px solid #e5e5e5;
  border-right: 2px solid #e5e5e5;
}
.table tbody td:last-child {
  border-right: none;
}
.table tfoot {
  font-size: 14px;
  text-align: left;
}
.table > thead > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tbody > tr > th,
.table > tfoot > tr > td {
  padding: 8px;
  line-height: 1.42857143;
}

/*projects page*/
.clearfix:before {
  display: table;
}
.clearfix:after {
   visibility: hidden;
   display: block;
   font-size: 0;
   content: " ";
   clear: both;
   height: 0;
}
a .photoThing {
  color: #000;
}
.photoThing small {
  font-size: 12px;
}
#projects #project {
  border-right: 2px solid #e5e5e5;
  height: 350;
  padding: 15px;
}
#projects .photoThing {
  text-align: center;
  margin-bottom: 20px;
}
#projects .photoThing h3,
#projects .photoThing .location,
#projects .photoThing p {
  text-align: left;
}
#projects .photoThing h3 {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 0px;
  margin-top: 8px;
}
#projects .photoThing .location {
  font-size: 16px;
  font-weight: 400;
  color: #db2c3b;
}
#projects .photoThing p {
  font-size: 14px;
  color: #404040;
  padding-right: 40px;
  margin-top: 5px;
  margin-bottom: 5px;
}
#projects img {
  text-align: center;
  border: 1px solid #e5e5e5;
  max-height: 220px;
  max-width: 100%;
}
#project, #news-item {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*news page*/
#news-page #news-item {
  text-align: left;
  padding: 0px 10px 20px 20px;
  margin: 0px auto 20px auto;
  height: 320px;
  display: inline-block;
}
#news-page #news-item:nth-child(even) {
  border-left: 2px solid #e5e5e5;
}
#news-page #news-item h3 {
  font-size: 24px;
  font-weight: 700;
  margin: 10px auto;
}
#news-page #news-item p {
  margin-top: 10px;
}
#news-page #news-item .date {
  color: #db2c3b;
  margin: 0px auto;
  line-height: 18px;
}
#news-item .box {
  text-align: center;
  color: #db2c3b;
  background-color: #e5e5e5;
  border: 1px solid #e5e5e5;
}
#news-item .box:hover {
  color: #fff;
  background-color: #db2c3b;
}
#news-page #news-item img {
  width: 200px;
  display: inline-block;
  float: right;
  margin: 10px 0px 10px 10px;
  border: 1px solid #db2c3b;
}
#news-page .photoThing {
  text-align: center;
}
#news-page .photoThing .location {
  font-size: 16px;
  font-weight: 400;
  color: #db2c3b;
}
#news-page .photoThing p {
  font-size: 14px;
  color: #404040;
  padding-left: 10px;
  padding-right: 40px;
}
#news-page img {
  text-align: center;
  border: 1px solid #e5e5e5;
}
.news-info {
  display: inline-block;
  max-width: 500px;
}
.news-info p {
  font-weight: 400 !important;
  font-size: 16px !important;
 }

/*contact us*/
#contact-page h2 {
  font-size: 24px;
  font-weight: 600;
  color: #000;
  margin-top: 0px;
}
.contact-header {
  padding-left: 20px;
}
.contact {
  padding-left: 40px;
}
.contact p {
  color: #fff;
}
.hq {
  text-align: center;
}
.hq p:last-child {
  margin-bottom: 30px;
}
.hq h1 {
  text-align: center;
}
#hq {
  border-bottom: 2px solid #db2c3b;
  margin-bottom: 30px;
}
#location {
  text-align: left;
  box-sizing: border-box;
}
#location h3 {
  margin: 0px;
  padding-bottom: 10px;
  border-bottom: 2px solid #e5e5e5;
}
#location .details {
  font-size: 14px;
  font-weight: 400;
}

/*links*/
.links {
 text-align: left;
}
.links h2 {
  text-align: center;
}
.links h3 {
  margin: 14px auto;
}
.links ul {
  list-style: disc;
}
.links li {
  display: list-item;
  padding: 8px 0px;
  margin-left: 20px;
}
.arcat {
  border: none;
  width: 133px;
  height: 46px;
}
.nfca {
  border: none;
  width: 129px;
  height: 43px;
}
.search_results {
  text-align: left;
}

/*Footer*/
footer {
  display: block;
}
#foot-wrap {
  background: #232323;
  margin-top: 0px;
  color: #666666;
}
footer p {
  font-size: 10px !important;
}
.right p {
  text-align: right;
}
#foot-nav {
  text-align: center;
}
footer ul {
  display: block;
  color: #666666;
  margin-top: 10px;
}
footer ul li:last-child {
  display: none;
}
.bottom-li {
  text-align: center;
  padding: 2px 0;
  font-size: 10px;
  line-height: 12px;
}
.bottom-a {
  text-transform: uppercase;
  color: #666666;
  font-size: 10px;
  margin: 4px;
}
.bottom-a:hover {
  color: #fff;
}

/*Grid System*/
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left;
}
.col-xs-12 {
  width: 100%;
}
.col-xs-11 {
  width: 91.66666667%;
}
.col-xs-10 {
  width: 83.33333333%;
}
.col-xs-9 {
  width: 75%;
}
.col-xs-8 {
  width: 66.66666667%;
}
.col-xs-7 {
  width: 58.33333333%;
}
.col-xs-6 {
  width: 50%;
}
.col-xs-5 {
  width: 41.66666667%;
}
.col-xs-4 {
  width: 33.33333333%;
}
.col-xs-3 {
  width: 25%;
}
.col-xs-2 {
  width: 16.66666667%;
}
.col-xs-1 {
  width: 8.33333333%;
}
.col-xs-pull-12 {
  right: 100%;
}
.col-xs-pull-11 {
  right: 91.66666667%;
}
.col-xs-pull-10 {
  right: 83.33333333%;
}
.col-xs-pull-9 {
  right: 75%;
}
.col-xs-pull-8 {
  right: 66.66666667%;
}
.col-xs-pull-7 {
  right: 58.33333333%;
}
.col-xs-pull-6 {
  right: 50%;
}
.col-xs-pull-5 {
  right: 41.66666667%;
}
.col-xs-pull-4 {
  right: 33.33333333%;
}
.col-xs-pull-3 {
  right: 25%;
}
.col-xs-pull-2 {
  right: 16.66666667%;
}
.col-xs-pull-1 {
  right: 8.33333333%;
}
.col-xs-pull-0 {
  right: auto;
}
.col-xs-push-12 {
  left: 100%;
}
.col-xs-push-11 {
  left: 91.66666667%;
}
.col-xs-push-10 {
  left: 83.33333333%;
}
.col-xs-push-9 {
  left: 75%;
}
.col-xs-push-8 {
  left: 66.66666667%;
}
.col-xs-push-7 {
  left: 58.33333333%;
}
.col-xs-push-6 {
  left: 50%;
}
.col-xs-push-5 {
  left: 41.66666667%;
}
.col-xs-push-4 {
  left: 33.33333333%;
}
.col-xs-push-3 {
  left: 25%;
}
.col-xs-push-2 {
  left: 16.66666667%;
}
.col-xs-push-1 {
  left: 8.33333333%;
}
.col-xs-push-0 {
  left: auto;
}
.col-xs-offset-12 {
  margin-left: 100%;
}
.col-xs-offset-11 {
  margin-left: 91.66666667%;
}
.col-xs-offset-10 {
  margin-left: 83.33333333%;
}
.col-xs-offset-9 {
  margin-left: 75%;
}
.col-xs-offset-8 {
  margin-left: 66.66666667%;
}
.col-xs-offset-7 {
  margin-left: 58.33333333%;
}
.col-xs-offset-6 {
  margin-left: 50%;
}
.col-xs-offset-5 {
  margin-left: 41.66666667%;
}
.col-xs-offset-4 {
  margin-left: 33.33333333%;
}
.col-xs-offset-3 {
  margin-left: 25%;
}
.col-xs-offset-2 {
  margin-left: 16.66666667%;
}
.col-xs-offset-1 {
  margin-left: 8.33333333%;
}
.col-xs-offset-0 {
  margin-left: 0%;
}
.column {
  position: relative;
  padding-right: 15px;
  padding-left: 15px;
  float: left;
}
.content {
  padding: 0;
}
@-ms-viewport {
  width: device-width;
}
.visible-xs,
.visible-sm,
.visible-md,
.visible-lg,
.visible-xs-block,
.visible-xs-inline,
.visible-xs-inline-block,
.visible-sm-block,
.visible-sm-inline,
.visible-sm-inline-block,
.visible-md-block,
.visible-md-inline,
.visible-md-inline-block,
.visible-lg-block,
.visible-lg-inline,
.visible-lg-inline-block,
.visible-print,
.visible-print-block,
.visible-print-inline,
.visible-print-inline-block{
  display: none !important;
}
@media print {
  .visible-print, .visible-print-block{
    display: block !important;
  }
  .visible-print-inline {
    display: inline !important;
  }
  .hidden-print {
    display: none !important;
  }
  .visible-print-inline-block {
    display: inline-block !important;
  }
  table.visible-print {
    display: table !important;
  }
  tr.visible-print {
    display: table-row !important;
  }
  th.visible-print,
  td.visible-print {
    display: table-cell !important;
  }
}
/* ======= MEDIA QUERIES ======= */
@media screen and (min-width: 768px) {
  .carousel-control .glyphicon-chevron-left,
  .carousel-control .glyphicon-chevron-right,
  .carousel-control .icon-prev,
  .carousel-control .icon-next {
    width: 30px;
    height: 30px;
    margin-top: -10px;
    font-size: 30px;
  }
  .carousel-control .glyphicon-chevron-left,
  .carousel-control .icon-prev {
    margin-left: -10px;
  }
  .carousel-control .glyphicon-chevron-right,
  .carousel-control .icon-next {
    margin-right: -10px;
  }
  .carousel-caption {
    left: 20%;
    right: 20%;
    padding-bottom: 30px;
  }
  .carousel-indicators {
    bottom: 20px;
  }
  .clearfix:before,
  .clearfix:after {
    content: " ";
    display: table;
  }
  .clearfix:after {
    clear: both;
  }
  .center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 768px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left;
  }
  .col-sm-12 {
    width: 100%;
  }
  .col-sm-11 {
    width: 91.66666667%;
  }
  .col-sm-10 {
    width: 83.33333333%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-8 {
    width: 66.66666667%;
  }
  .col-sm-7 {
    width: 58.33333333%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-5 {
    width: 41.66666667%;
  }
  .col-sm-4 {
    width: 33.33333333%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-2 {
    width: 16.66666667%;
  }
  .col-sm-1 {
    width: 8.33333333%;
  }
  .col-sm-pull-12 {
    right: 100%;
  }
  .col-sm-pull-11 {
    right: 91.66666667%;
  }
  .col-sm-pull-10 {
    right: 83.33333333%;
  }
  .col-sm-pull-9 {
    right: 75%;
  }
  .col-sm-pull-8 {
    right: 66.66666667%;
  }
  .col-sm-pull-7 {
    right: 58.33333333%;
  }
  .col-sm-pull-6 {
    right: 50%;
  }
  .col-sm-pull-5 {
    right: 41.66666667%;
  }
  .col-sm-pull-4 {
    right: 33.33333333%;
  }
  .col-sm-pull-3 {
    right: 25%;
  }
  .col-sm-pull-2 {
    right: 16.66666667%;
  }
  .col-sm-pull-1 {
    right: 8.33333333%;
  }
  .col-sm-pull-0 {
    right: auto;
  }
  .col-sm-push-12 {
    left: 100%;
  }
  .col-sm-push-11 {
    left: 91.66666667%;
  }
  .col-sm-push-10 {
    left: 83.33333333%;
  }
  .col-sm-push-9 {
    left: 75%;
  }
  .col-sm-push-8 {
    left: 66.66666667%;
  }
  .col-sm-push-7 {
    left: 58.33333333%;
  }
  .col-sm-push-6 {
    left: 50%;
  }
  .col-sm-push-5 {
    left: 41.66666667%;
  }
  .col-sm-push-4 {
    left: 33.33333333%;
  }
  .col-sm-push-3 {
    left: 25%;
  }
  .col-sm-push-2 {
    left: 16.66666667%;
  }
  .col-sm-push-1 {
    left: 8.33333333%;
  }
  .col-sm-push-0 {
    left: auto;
  }
  .col-sm-offset-12 {
    margin-left: 100%;
  }
  .col-sm-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-sm-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-sm-offset-9 {
    margin-left: 75%;
  }
  .col-sm-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-sm-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-sm-offset-6 {
    margin-left: 50%;
  }
  .col-sm-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-sm-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-sm-offset-3 {
    margin-left: 25%;
  }
  .col-sm-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-sm-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-sm-offset-0 {
    margin-left: 0%;
  }
  .fa-bars {
    display: none;
  }
  .search-filter label{
    width: 80% !important;
  }
  #designs table tbody td.child {
    padding-left: 40px;
  }
}
@media (min-width: 992px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
  }
  .col-md-12 {
    width: 100%;
  }
  .col-md-11 {
    width: 91.66666667%;
  }
  .col-md-10 {
    width: 83.33333333%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-8 {
    width: 66.66666667%;
  }
  .col-md-7 {
    width: 58.33333333%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-5 {
    width: 41.66666667%;
  }
  .col-md-4 {
    width: 33.33333333%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-2 {
    width: 16.66666667%;
  }
  .col-md-1 {
    width: 8.33333333%;
  }
  .col-md-pull-12 {
    right: 100%;
  }
  .col-md-pull-11 {
    right: 91.66666667%;
  }
  .col-md-pull-10 {
    right: 83.33333333%;
  }
  .col-md-pull-9 {
    right: 75%;
  }
  .col-md-pull-8 {
    right: 66.66666667%;
  }
  .col-md-pull-7 {
    right: 58.33333333%;
  }
  .col-md-pull-6 {
    right: 50%;
  }
  .col-md-pull-5 {
    right: 41.66666667%;
  }
  .col-md-pull-4 {
    right: 33.33333333%;
  }
  .col-md-pull-3 {
    right: 25%;
  }
  .col-md-pull-2 {
    right: 16.66666667%;
  }
  .col-md-pull-1 {
    right: 8.33333333%;
  }
  .col-md-pull-0 {
    right: auto;
  }
  .col-md-push-12 {
    left: 100%;
  }
  .col-md-push-11 {
    left: 91.66666667%;
  }
  .col-md-push-10 {
    left: 83.33333333%;
  }
  .col-md-push-9 {
    left: 75%;
  }
  .col-md-push-8 {
    left: 66.66666667%;
  }
  .col-md-push-7 {
    left: 58.33333333%;
  }
  .col-md-push-6 {
    left: 50%;
  }
  .col-md-push-5 {
    left: 41.66666667%;
  }
  .col-md-push-4 {
    left: 33.33333333%;
  }
  .col-md-push-3 {
    left: 25%;
  }
  .col-md-push-2 {
    left: 16.66666667%;
  }
  .col-md-push-1 {
    left: 8.33333333%;
  }
  .col-md-push-0 {
    left: auto;
  }
  .col-md-offset-12 {
    margin-left: 100%;
  }
  .col-md-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-md-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-md-offset-9 {
    margin-left: 75%;
  }
  .col-md-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-md-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-md-offset-6 {
    margin-left: 50%;
  }
  .col-md-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-md-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-md-offset-3 {
    margin-left: 25%;
  }
  .col-md-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-md-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-md-offset-0 {
    margin-left: 0%;
  }
  .logo-img {
    display: none;
  }
  #contact {
    border-left: 2px solid #666666;
  }
  #designs table th.dt-body-center, #designs table td.dt-body-center {
    display: table-cell;
  }
  .pdf-download {
    display: block;
  }
  #mobile-filter {
    display: none !important;
  }
  .search-filter {
    text-align: left !important;
    padding-left: 0px !important;
  }
  .search-filter label {
    width: auto !important;
  }
  .search-filter input {
    text-align: left !important;
  }
  .clear-filter {
    padding-right: 15px !important;
  }
  .dataTables_wrapper .dataTables_length {
    display: block;
  }
  #system-filters {
    display: block !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .container {
    width: 970px;
  }
  .visible-md {
    display: block !important;
  }
  table.visible-md {
    display: table !important;
  }
  tr.visible-md {
    display: table-row !important;
  }
  th.visible-md,
  td.visible-md {
    display: table-cell !important;
  }
  .visible-md-block {
    display: block !important;
  }
  .visible-md-inline {
    display: inline !important;
  }
  .visible-md-inline-block {
    display: inline-block !important;
  }
  .hidden-md {
    display: none !important;
  }
  #project .desc {
    padding: 0px 35px
  }
  #projects #project:nth-child(3n) {
    border: none;
  }

}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;
  }
  .col-lg-12 {
    width: 100%;
  }
  .col-lg-11 {
    width: 91.66666667%;
  }
  .col-lg-10 {
    width: 83.33333333%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-8 {
    width: 66.66666667%;
  }
  .col-lg-7 {
    width: 58.33333333%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-5 {
    width: 41.66666667%;
  }
  .col-lg-4 {
    width: 33.33333333%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-2 {
    width: 16.66666667%;
  }
  .col-lg-1 {
    width: 8.33333333%;
  }
  .col-lg-pull-12 {
    right: 100%;
  }
  .col-lg-pull-11 {
    right: 91.66666667%;
  }
  .col-lg-pull-10 {
    right: 83.33333333%;
  }
  .col-lg-pull-9 {
    right: 75%;
  }
  .col-lg-pull-8 {
    right: 66.66666667%;
  }
  .col-lg-pull-7 {
    right: 58.33333333%;
  }
  .col-lg-pull-6 {
    right: 50%;
  }
  .col-lg-pull-5 {
    right: 41.66666667%;
  }
  .col-lg-pull-4 {
    right: 33.33333333%;
  }
  .col-lg-pull-3 {
    right: 25%;
  }
  .col-lg-pull-2 {
    right: 16.66666667%;
  }
  .col-lg-pull-1 {
    right: 8.33333333%;
  }
  .col-lg-pull-0 {
    right: auto;
  }
  .col-lg-push-12 {
    left: 100%;
  }
  .col-lg-push-11 {
    left: 91.66666667%;
  }
  .col-lg-push-10 {
    left: 83.33333333%;
  }
  .col-lg-push-9 {
    left: 75%;
  }
  .col-lg-push-8 {
    left: 66.66666667%;
  }
  .col-lg-push-7 {
    left: 58.33333333%;
  }
  .col-lg-push-6 {
    left: 50%;
  }
  .col-lg-push-5 {
    left: 41.66666667%;
  }
  .col-lg-push-4 {
    left: 33.33333333%;
  }
  .col-lg-push-3 {
    left: 25%;
  }
  .col-lg-push-2 {
    left: 16.66666667%;
  }
  .col-lg-push-1 {
    left: 8.33333333%;
  }
  .col-lg-push-0 {
    left: auto;
  }
  .col-lg-offset-12 {
    margin-left: 100%;
  }
  .col-lg-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-lg-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-lg-offset-9 {
    margin-left: 75%;
  }
  .col-lg-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-lg-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-lg-offset-6 {
    margin-left: 50%;
  }
  .col-lg-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-lg-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-lg-offset-3 {
    margin-left: 25%;
  }
  .col-lg-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-lg-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-lg-offset-0 {
    margin-left: 0%;
  }
  .visible-lg {
    display: block !important;
  }
  table.visible-lg {
    display: table !important;
  }
  tr.visible-lg {
    display: table-row !important;
  }
  th.visible-lg,
  td.visible-lg {
    display: table-cell !important;
  }
  .visible-lg-block {
    display: block !important;
  }
  .visible-lg-inline {
    display: inline !important;
  }
  .visible-lg-inline-block {
    display: inline-block !important;
  }
  #projects #project {
    padding: inherit;
  }
  #project .desc {
    padding: 0px 35px
  }
  #projects #project:nth-child(3n) {
    border: none;
  }
  #projects ul li:nth-child(n+4) {
    padding-top: 20px !important;
  }
  .hidden-lg {
    display: none !important;
  }
  .logo-img {
    display: none;
  }
}
@media (min-width: 1600px) {
  .container {
    width: 1200px;
  }
