/* ======= BASIC STYLES ======= */

html {
    font-family: "acumin-pro", sans-serif;
  font-weight: 400;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    height: 100%;
}


.slick-dots {
  display: none !important;
}

body {
    margin: 0;
  padding:0px;
  background-color: #232323;
  height: 100%;
  position: relative;
}
body h1 {
  font-size: 36px;
}
body h2 {
  color: #db2c3b;
  font-size: 30px;
  font-weight: 700;
  font-family: "acumin-pro-semi-condensed", sans-serif;
  margin: 10px 0;
}
body h3 {
  font-size: 28px;
  font-weight: 400;
}
body h4 {
  font-size: 22px;
  line-height: 24px;
  font-weight: 300;
  margin: 0 auto;
}

body p {
  text-align: left;
  line-height: 18px;
  font-size: 16px;
}
#content {
  background-color: #fff;
  padding-top: 14px;
  padding-bottom: 30px;
  text-align: center;
  margin-left: 0 !important;
  margin-right: 0 !important;
  margin: 0 !important;
}

a:hover {
  text-decoration: none;
}
.wrapper h1 {
  text-align: center;
  color: #db2c3b;
  font-weight: 300;
}

#caseHistory td {
  width: 34%;
  vertical-align: top;
  padding: 0 1%;

}

.rightBorderGrey {
  border-right: 1px solid #e5e5e5;
}

.photoThing {
  margin-bottom: 20px;
}

.photoThing img {
  width: 100%;
}

a .photoThing {
  color: #000;
}

.photoThing h3 {
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 0px;
  margin-top: 8px;
}

.photoThing p {
  font-size: 14px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.news-info p {
  font-weight: 400 !important;
  font-size: 16px !important;
 }
.redText {
  color: #db2c3b !important;
}

.photoThing small {
  font-size: 12px;
}

.box {
  padding: 10px 8px;
  margin-right: 15px;
  border: 1px solid #FFF;
  text-align: center;
}

a .box {
  color: #FFF;
}

.box:hover {
  background-color: #FFF;
  color: #db2c3b;
}

.pushRight {
  float: right;
  display: inline-block;
  margin-top: 15px;
  /*margin-right: 15px;*/
  padding-bottom: 20px;
}


#header {
  width: 100%;
  background-color: #232323;
  height: 70px;
  padding: 15px 0px;
}

.wrapper {width: 80%; margin: 0 auto;
}
ul.sectionBody {
  list-style-type: disc;
}

ul.sectionBody li {
  text-align: left;
  display: list-item;
  margin-left: 20px;
}

#data {
  background-color: #404040;
  padding: 40px 0px;
  color: #FFF;
}

#data small {
  color: #FFF;
}

.techTable td {
  width: 50%;
  vertical-align: top;
  padding-left: 40px;
}


.techTable h1 {
  font-size:  25px;
  font-weight: 300;
  margin-bottom: 0px;
  text-transform: uppercase;
  color: #dcb2c3b;
  text-align: left;
}

.techTable h2 {
  font-size: 21px;
  font-weight: 400;
  color: #FFF; /* Cam had to fix */
}

.news-info {
  display: inline-block;
  max-width: 500px;
}
.dataSheet {
  float: left;
  padding-left: 15px;
  width: 90%;
}

.borderRight {
  border-right: 2px solid #666666;
}

.dataSheet li {
  width: 100%;
  /*margin-bottom: 20px;*/
}
.contact-header {
  padding-left: 20px;
}
.contact {
  padding-left: 40px;
}
.contact p {
  color: #fff;
}

#mainImage {
  position: relative;
  height: 330px;
  overflow: hidden;
  width: 100%;
  /*margin-bottom: 40px;*/
}

#mainImage img {
  width: 100%;
}

.push {
  margin-bottom: 10px;
}

.push h1{
  font-weight: 600;
  font-size: 36px;
}

#homeSlide {
  max-height: 80%;
  overflow: hidden;
}
#homeSlide img {
  width: 100%;
  /*height: 100%;*/
}

.slideImg {
  position: relative;
}



a {
    background-color: transparent;
    text-decoration: none;
}
.active {
    color: #db2c3b !important;
}

.logo-img {
    width: 100px;
    height: auto;
    padding: 10px;
}

.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
}


/* ======= NAVIGATION STYLES ======= */

#head-wrap {
    background: #232323;
    padding: 10px 18px 0px 25px;
}

#nav1 {
    float: left;
    width: 40%;
    /*margin-top: 10px;*/
}
#nav2 {
    float: right;
    width: 60%;
    /*margin-top: 15px;*/
}

#nav2 a:hover {
  text-decoration: none;
  color: #404040;
}
#nav2 a:active {
  color: #232323;
}
.logo-div {
    display: block;
    float: left;
    position: relative;
}

#top-title {
    font-size: 21px;
  font-weight: 500;
    color: #fff;
    text-transform: uppercase;
    padding-top: 20px;
}


.menu {
    float: right;
    width: 100%;
    margin: 0;
    text-align: right;

}
/*.menu:nth-child(2){
    margin-top: 10px;
}*/

.menu ul {
    float: right;
}
#form {
    float: right;
    margin-left: 10px;
    background: #404040;
  border: 1px solid #000;
    margin-top: 2px;
  padding-bottom: 4px;
}
#searchBox {
    background: #404040;
    border: 1px none;
  color: #fff;
}
input:focus {
  outline: none !important;
}
#m-glass {
    color: white;
    z-index: 1;
    margin-right: 5px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
/*    position: absolute;*/
}
li {
    display: inline-block;
}
.news-contact li {
    margin: 0 4px;
    color: #404040;
}
.top-li a {
    display: block;
  height: 30px;
  text-align: center;
  line-height: 30px;
  color: #fff;
    text-transform: uppercase;
    font-size: 12px;

}
.main-li a {
    display: block;
  height: 30px;
  text-align: center;
  line-height: 30px;
  color: #fff;
    text-transform: uppercase;
    font-size: 18px;
    margin-left: 20px;
}


.bold-links {
    font-weight: bold;
    text-transform: uppercase;
    color: black;
    padding-right: 10px;
    font-size: 14px;
}


#foot-wrap {
    /*display: block;
    width: 100%;
    float: left;
    text-align: center;
    padding: 5px 0;
  */
  margin-top: 0px;
  background: #232323;
  color: #666666;
}
footer p {
    font-size: 10px;
}
.right p {
  text-align: right;
}
/*
#foot1 {
    display: block;
    float: left;
    width: 33.3%;
}
#foot2 {
    display: block;
    float: left;
    width: 33.3%;
}
#foot3 {
    display: block;
    float: left;
    width: 33.3%;
}
*/
#foot-nav {
  text-align: center;
}
footer ul {
    display: block;
  color: #666666;
  margin-top: 10px;
    /*margin-left: 20%;*/
}
footer ul li:last-child {
  display: none;
}
.bottom-li {
/*height: 30px;*/
  text-align: center;
  padding: 2px 0;
  font-size: 10px;
  line-height: 12px;
}
.bottom-a {
    text-transform: uppercase;
    color: #666666;
    font-size: 10px;
  margin: 4px;
}

.bottom-a:hover {
  color: #fff;
      }


/* ======= LAYOUT ======= */


#wrapper {
    max-width: 1280px;
    margin: 0 auto;
}

.main{
  width: 80%;
  margin: 0 auto;
  padding-bottom: 50px;
}
/*#bg-img {
    background: url(../img/edmonton_art_gallery.png) no-repeat center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;c
    -o-background-size: cover;
}*/



.white-section {
    top: 55%;
    left: 8%;
  background: rgba(299,299,299,0.85);
    /*background-color: #e5e5e5;
    opacity: 0.85;
    filter: alpha(opacity=85);*/
    position: absolute;
    width: 60%;
  height: auto;
  padding: 0px 10px;
    min-width: 700px;
}

.white-section ul {
  margin: 0 auto 10px auto;
  text-align: center;
  width: 100%;
}

.white-section li {
  font-family: "acumin-pro-semi-condensed",sans-serif;
  font-weight: 700;
  font-size: 21px;
  padding: 4px 30px;
}

.white-section h1 {
    text-transform: uppercase;
  font-family: "acumin-pro", sans-serif;
    font-size: 42px;
    color: white;
    text-shadow: 2px 2px 2px #1f1f1f;
    /*margin: 65px 0 0 0;*/
    float: left;
}

.white-section img {
    float: left;
    min-width: 140px !important;
}

.main h2 {
  font-family: "acumin-pro-semi-condensed",sans-serif;
  font-weight: 700;
  color: #DB2C3B;
  font-size: 36px;
  margin-top: 0px;
}

.vertical {
  width: 0;
  height: 100%;
}

/* ======= PRODUCTS ======= */
.img-header {
    max-width: 1280px;
    position: relative;
    width: 100%;
}
.bg-img2 {
    position: relative;
    width: 100%;
    height: auto;
    z-index: 1;
}

.pink-box {
    background-color: #db2c3b;
    width: 420px;
    height: 100px;
    position: absolute;
    top: 200px;
    left: 10%;
    z-index: 2;
    opacity: 0.85;
    filter: alpha(opacity=85);
}
.pink-box h1 {
    text-transform: uppercase;
    color: white;
  font-weight: 700;
    text-shadow: 1px 1px 1px #1f1f1f;
    font-size: 42px;
    padding: 0 0 30px 30px;
    /*margin-top: 0px;*/
}
#white-wrapper {
    margin: 10px;
    padding-left: 100px;
    padding-right: 100px;
}
.bt-margin {
    margin: 60px 0;
    text-align: center;
}
.close {
    padding-left: 10%;
    padding-right: 10%;
}
.closer {
    padding-left: 15%;
    padding-right: 15%;
}
.half {
    width: 46%;
    float: left;
    padding-left: 2%;
    padding-right: 2%;
}

.two-lists li {
    display: block;
    width: 50%;
}
.one-list li {
    display: block;
    width: 100%;
}
.leed-sec p{
    float: left;
    width: 33.33%;
}

/* ======= PRODUCTS STYLES ======= */
#white-wrapper h2 {
    font-size: 20px;
}
#white-wrapper h3 {
    font-size: 18px;
    color: #666;
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 5px;
}
#white-wrapper p {
    color: #db2c3b;
    font-size: 18px;
}
#white-wrapper li {
    color: #db2c3b;
    font-size: 14px;
    line-height: 1.6em;
}
.leed-sec h2 {
    margin-bottom: 5px;
}


.crumbs {
    margin: 3px 0px 5px 0px;
    font-size: 12px;
  text-align: left;
}
.crumbs li {
    margin: 0 2px;
}
.crumbs li a {
    color: #232323;
}

.product-desc {
    width: 100%;
    text-align: center;
    margin-bottom: 55px;
}
.product-title {
    color: #db2c3b;
    margin-top: 10px;
}
.product-summ {
    margin-left: 175px;
    margin-right: 175px;
}
.product-data {
    background-color: #404040;
}
.tech-data {
    width: 45%;
    float: left;
    margin-left: 2.5%;
    margin-right: 2.5%;
}
.add-resources {
    width: 45%;
    float: right;
    margin-left: 2.5%;
    margin-right: 2.5%;
}
.data-h1 {
    text-transform: uppercase;
    color: white;
    font-weight: 300;
    padding-top: 10px;
}
.tech-data ul li {
    width: 98%;
    margin-left: 2%;
    color: white;
    padding-bottom: 5px;
}
.add-resources ul li {
    width: 98%;
    margin-left: 2%;
    color: white;
    padding-bottom: 5px
}

.tech-data ul ul li {
    display: inline;
}
.add-resources ul ul li {
    display: inline;
}

.tech-data ul ul li a {
    display: inline-block;
    padding: 5px 8px;
    border: 1px solid white;
    margin-top: 3px;
    color: white;
    font-size: 10px;
    text-align: center;
    width: 50px;
}
.add-resources ul ul li a {
    display: inline-block;
    padding: 5px 8px;
    border: 1px solid white;
    margin-top: 3px;
    color: white;
    font-size: 10px;
    text-align: center;
    width: 50px;
}


/*vollmer*/
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  background-color: #232323;
  font-family: "acumin-pro", sans-serif;
  font-weight: 400;
  line-height: 1;
  font-size: 100%;
  /*  min-height: 2000px;*/
  margin: 0;
  display: block;
}
/*layout defaults*/
.container {
  min-width: 300px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.row {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 1200px;
}
.container:before,
.container:after,
.row:before,
.row:after {
  content: " ";
  display: table;
}
div,
section {
  display: block;
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
section {
  display: block;
}
.col-sm-12, .col-md-12, .col-sm-6, .col-md-6, .col-xs-8, .col-sm-8, .col-xs-4, .col-sm-4 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
.col-xs-4, .col-xs-8 {
  float: left;
}
.col-xs-12 {
  width: 100%;
}
.col-xs-11 {
  width: 91.66666667%;
}
.col-xs-10 {
  width: 83.33333333%;
}
.col-xs-9 {
  width: 75%;
}
.col-xs-8 {
  width: 66.66666667%;
}
.col-xs-7 {
  width: 58.33333333%;
}
.col-xs-6 {
  width: 50%;
}
.col-xs-5 {
  width: 41.66666667%;
}
.col-xs-4 {
  width: 33.33333333%;
}
.col-xs-3 {
  width: 25%;
}
.col-xs-2 {
  width: 16.66666667%;
}
.col-xs-1 {
  width: 8.33333333%;
}
.column {
  position: relative;
  padding-right: 15px;
  padding-left: 15px;
  float: left;
}
.col-2 {
  width: 50%;
}
.col-12 {
  width: 100%;
}
.content {
  padding: 0;
}
/*homepage*/
.logo-img {
  padding: 10px 10px 10px 0;
  height: 50px;
  width: auto;
}
a:hover {
  text-decoration: none;
  color: #404040;
}
/*home page*/
.white-section .box-logo {
  display: inline-block;
}
.white-section .box-logo-img {
  max-width: 200px;
  display: inline-block;
  height: auto;
  margin: 10px;
}
.white-section .box-text {
  display: inline-block;
  position: relative;
}
.white-section h1 {
  font-weight: 500;
  font-size: 38px;
  padding-left: 20px;
  padding-bottom: 0px;
}
.pink-box {
  text-align: left;
}
/*navigation*/
#nav2 a:hover {
  text-decoration: none;
}
/*
.wrapper {
  width: 90%;
}
*/
#mainImage {
  text-align: center;
  overflow: hidden;
  margin-bottom: 0px;
}
#mainImage img {
  width: auto;
}
.bg-img2 {
  width: auto;
}
#content a {
  color: #db2c3b;
}
#content a:hover {
  color: #404040;
}
/*about page*/
.clearfix:before,
.clearfix:after,
.container:before,
.container:after,
.content-row:before,
.content-row:after {
  content: " ";
  display: table;
}
.content-row {
  margin-left: 0 !important;
  margin-right: 0 !important;
  margin: 0 !important;
}
.clearfix:after,
.container:after,
.container-fluid:after,
.row:after {
  clear: both;
}
/*.txt-column *:last-child{
  margin-bottom: 0;
}*/
.column-container > .txt-wrapper > *:last-child {
  margin-bottom: 0;
}
.content-inner .col-md-12,
.content-inner .col-sm-12,
.content-inner .col-xs-8,
.content-inner .col-xs-4 {
  box-sizing: border-box;
}
.content-inner h1 {
  font-family: "acumin-pro-semi-condensed", sans-serif;
  font-weight: 700;
  font-size: 36px;
  color: #db2c3b;
}
#about {
  background-color: #fff;
  text-align: center;
  padding-bottom: 60px;
}

#about a {
  color: #db2c3b;
}
#about a:hover {
  color: #404040;
}
#about a:visited {
  color: #db2c3b;
}

.about-inner {
  padding-bottom: 30px;
}
#news-contact {
  background-color: #404040;
  color: #fff;
}
#news-contact .text-wrapper:first-of-type {
  max-width: 877px;
  margin: 0 auto;
}
#news-contact .content-inner {
  padding: 30px 15px;
}
#news-contact h1 {
  font-size: 36px;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
}
#news {
  padding: 0 !important;
  border-right: 2px solid #666666;
}
#news .row {
  margin-bottom: 10px;
}
#news p {
  padding-top: 0;
  margin: 0 auto;
  font-size: 21px;
  line-height: 24px;
}
#news .date {
  color: #db2c3b;
  font-size: 16px;
  padding-top: 10px;
}
#contact {
  padding: 0 !important;
  width: 49%;
}
#contact h4 {
  padding-left: 65px;
  padding-top: 0;
  margin: 0 auto;
}
#contact p {
  padding-left: 65px;
  font-size: 16px;
  line-height: 24px;
}

/*products page*/
#accordion {
  padding-top: 20px;
}
.panel-heading {
  border-bottom: 2px solid #e5e5e5;
  box-sizing: border-box;
}
.panel-heading h3{
  display: inline-block;
  margin-bottom: 0px;
  margin: 2px auto 8px auto;
}
.panel-heading i{
  display: inline-block;
  margin: auto 10px;
  font-size: 22px;
  line-height: 28px;
  padding-left: 4px;
}
.panel-heading a[aria-expanded="true"] {
  padding-bottom: 4px;
}
.panel-heading a[aria-expanded="false"] i {
  transform: rotate(-90deg);
  padding-bottom: 0px;

}
.panel-body {
  padding-left: 32px;
}
.product-list {
  text-align: left;
}
.product-list ul{
  padding: 10px 20px;
  -webkit-columns:3;
  -moz-columns: 3;
  columns: 3;
}
.product-list ul li {
  display: block;
  padding: 4px 4px;
  -webkit-column-break-inside: avoid;
  page-break-inside:avoid;
  break-inside: avoid;
}
.type {
  color: #000000 !important;
}
.products {
  padding-bottom: 30px;
}
.products h2 {
  color: #000000;
}
.products h3 {
  color: #666666;
  padding-top: 0;
  margin-top: 0;
}
.products .col-md-6 {
  padding: 0;
}
.products .col-md-6 h3 {
  margin-bottom: 26px;
}
.products li,
.products p {
  display: inline-block;
  font-size: 24px;
  margin: auto 40px;
  padding-bottom: 14px;
}
.products-gray {
  background-color: #404040 !important;
  text-align: left;
  box-sizing: border-box;
}
.products-gray div {
  box-sizing: border-box;
}
.products-gray h3 {
  color: #db2c3b;
  text-align: left;
  margin-left: 20px;
}
.products-info:first-child {
  border-right: 2px solid #666666;
}
.products-gray .row {
  margin-left: 20px;
  margin-bottom: 10px;
}
.products-gray p {
  color: #fff;
  padding-top: 0;
  margin: 0 auto;
  font-size: 21px;
  line-height: 24px;
}
.products-gray .box {
  width: auto !important;
}
.fade {
  opacity: 0;
  -webkit-transition: opacity 0.15s linear;
  transition: opacity 0.15s linear;
}
.fade.in {
  opacity: 1;
}
.collapse {
  display: none;
}
.collapse.in {
  display: block;
}
tr.collapse.in {
  display: table-row;
}
tbody.collapse.in {
  display: table-row-group;
}
.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition-property: height, visibility;
  transition-property: height, visibility;
  -webkit-transition-duration: 0.35s;
  transition-duration: 0.35s;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
}
/*table*/
#sw-table table {
  table-layout: fixed;
}
#sw-table thead th:first-child {
  width: 25%;
  border-bottom: none;
}
#sw-table tbody th {
  background-color: #db2c3b;
}
#key tr:first-child td {
  border-top: 2px solid #e5e5e5;
}
#key tr:nth-child(n+2) {
  text-align: left;
}
#key td:first-child {
  border-left: 2px solid #e5e5e5;
}
#simple tbody tr th {
  border-bottom: 2px solid #e5e5e5;
}
#simple tbody tr td:first-child {
  border-left: 2px solid #e5e5e5;
}
#firefilm thead td {
  background-color: #e5e5e5;
}
#firefilm thead td.red {
  background-color: #db2c3b;
}
#firefilm tbody th {
  background-color: #e5e5e5;
}
#firebarrier h3 {
  border-bottom: 2px solid #e5e5e5;
  padding-bottom: 14px;
  margin-bottom: 14px;
}
.list h3 {
  text-align: left !important;
}
.list ul li {
  display: list-item !important;
  list-style: disc inside !important;
  text-align: left !important;
}
#firebarrier ul {
  list-style: disc inside none;
  border-right: none;
}
#firebarrier li {
  display: list-item;
  padding-bottom: 10px;
}
#firebarrier h4 {
  font-size: 22px;
  text-transform: uppercase;
  text-align: center;
  margin: 8px 0px;
  line-height: 24px;
  font-weight: 600;
}
#firebarrier h5 {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;
  margin: 8px 0px;
  line-height: 20px;
}
#firebarrier .table caption {
  border-bottom: none !important;
}
#firebarrier tr.red td {
  background-color: #e5e5e5;
}
#firebarrier ul li {
  padding-bottom: 6px;
  display: block;
  font-size: 14px;
  line-height: 16px;
  -webkit-column-break-inside: avoid;
     page-break-inside: avoid;
          break-inside: avoid;
  font-weight: 400;
}
#firebarrier table.wrap {
  width: 100%;
}
#firebarrier table.wrap tr td {
  white-space: normal;
}
ul.columns {
  -webkit-columns: 3;
     -moz-columns: 3;
          columns: 3;
  padding-bottom: 10px;
}
ul.columns li {
  display: block !important;
  font-size: 14px;
}
#firebarrier tbody th,
#firebarrier tbody td {
  border-right: 2px solid #666666 !important;
  border-bottom: 2px solid #666666;
  font-size: 14px;
}
#firebarrier tbody th {
  background-color: #e5e5e5;
  border-top: 2px solid #666666;
  padding: 4px;
}
#firebarrier tbody th:first-child {
  border-left: 2px solid #666666;
}
#firebarrier tbody td {
  line-height: 16px;
  padding: 4px;
}
#firebarrier tbody td.red {
  background-color: #666666;
  padding: 8px 0;
  font-size: 14px;
  font-weight: 600;
}
#firebarrier tbody td.nbl {
  border-left: none !important;
}
#firebarrier tbody td:first-child {
  border-left: 2px solid #666666;
}
#firebarrier tfoot {
  text-align: center;
}
table tbody.legend tr th {
  border-right: 2px solid #666666;
  border-left: 2px solid #666666;
}
table tbody.legend tr td {
  vertical-align: top;
  padding: 0px;
  border-bottom: 2px solid #666666;
}
table tbody.legend tr td ul {
  padding-left: 10px;
}
table tbody.legend tr td li {
  text-align: left;
}
table tbody.legend tr td:last-child {
  border-right: 2px solid #666666;
}
.table-responsive {
  min-height: .01%;
  overflow-x: auto;
}
.table {
  border-spacing: 0;
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
  text-align: center;
}
.table caption h3 {
  margin: 0px auto 10px auto;
  text-transform: uppercase;
  font-family: "acumin-pro-semi-condensed", sans-serif;
}
.table thead {
  vertical-align: bottom;
  font-weight: 600;
}
.table thead th {
  font-size: 18px;
  background-color: #fff;
  border-top: 2px solid #e5e5e5;
  border-bottom: 2px solid #e5e5e5;
  vertical-align: bottom;
}
.table thead td {
  background-color: #e5e5e5;
  border-right: 2px solid #fff;
  border-bottom: none;
}
.table thead td.red {
  background-color: #db2c3b;
}
.table thead td.red:last-child {
  border-right: none;
}
.table tbody {
  text-align: center;
  vertical-align: top;
}
.table tbody th {
  background-color: #e5e5e5;
  font-weight: 600;
  border-bottom: 2px solid #fff;
  font-size: 16px;
}
.table tbody th:last-child {
  border-right: none !important;
}
.table tbody tr:nth-child(10) > th {
  border-bottom: 2px solid #e5e5e5;
}
.table tbody td {
  font-size: 14px;
  white-space: nowrap;
  border-bottom: 2px solid #e5e5e5;
  border-right: 2px solid #e5e5e5;
}
.table tfoot {
  font-size: 14px;
  text-align: left;
}
.table > thead > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tbody > tr > th,
.table > tfoot > tr > td {
  padding: 8px;
  line-height: 1.42857143;
}
/*projects page*/
.clearfix:before {
  display: table;
}

.clearfix:after {
  clear: both;
  }
#projects #project {
  border-right: 2px solid #e5e5e5;
  padding: 0px 35px;
  height: 350;
}
#projects .photoThing {
  text-align: center;
}
#projects .photoThing h3,
#projects .photoThing .location,
#projects .photoThing p {
  text-align: left;
}
#projects .photoThing h3 {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 600;
  padding: 6px 10px;
}
#projects .photoThing .location {
  font-size: 16px;
  font-weight: 400;
  color: #db2c3b;
}
#projects .photoThing p {
  font-size: 14px;
  color: #404040;
  padding-left: 10px;
  padding-right: 40px;
}
#projects img {
  text-align: center;
  border: 1px solid #e5e5e5;
  max-height: 220px;
}

#project, #news-item {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*news page*/
#news-page #news-item {
  text-align: left;
  padding: 0px 10px 20px 20px;
  margin: 0px auto 20px auto;
  height: 320px;
  display: inline-block;
}
#news-page #news-item:nth-child(even) {
  border-left: 2px solid #e5e5e5;
}
#news-page #news-item h3 {
  font-size: 24px;
  font-weight: 700;
  margin: 10px auto;
}
#news-page #news-item p {
  margin-top: 10px;
}
#news-page #news-item .date {
  color: #db2c3b;
  margin: 0px auto;
  line-height: 18px;
}
#news-item .box {
  text-align: center;
  color: #db2c3b;
  background-color: #e5e5e5;
  border: 1px solid #e5e5e5;
}
#news-item .box:hover {
  color: #fff;
  background-color: #db2c3b;
}
#news-page #news-item img {
  width: 200px;
  display: inline-block;
  float: right;
  margin: 10px 0px 10px 10px;
  border: 1px solid #db2c3b;
}
#news-page .photoThing {
  text-align: center;
}
#news-page .photoThing .location {
  font-size: 16px;
  font-weight: 400;
  color: #db2c3b;
}
#news-page .photoThing p {
  font-size: 14px;
  color: #404040;
  padding-left: 10px;
  padding-right: 40px;
}
#news-page img {
  text-align: center;
  border: 1px solid #e5e5e5;
}

/*contact us*/
#contact-page h2 {
  font-size: 24px;
  font-family: "acumin-pro", sans-serif;
  font-weight: 600;
  color: #000;
  margin-top: 0px;
}
.hq {
  text-align: center;
}
.hq .row {
  border-bottom: 2px solid #db2c3b;
}
.hq p:last-child {
  margin-bottom: 30px;
}
.hq h1 {
  text-align: center;
}
#location {
  text-align: left;
  box-sizing: border-box;
}
#location h3 {
  margin: 0px;
  padding-bottom: 10px;
  border-bottom: 2px solid #e5e5e5;
}
#location .details {
  font-size: 14px;
  font-weight: 400;
}
/*links*/
.links {
 text-align: left;
}
.links h2 {
  text-align: center;
}
.links h3 {
  margin: 14px 40px;
}
.links ul {
  margin: 10px 40px;
  list-style: disc inside none;
}
.links li {
  display: list-item;
  padding: 10px;
}
.arcat {
  border: none;
  width: 133px;
  height: 46px;
}
.nfca {
  border: none;
  width: 129px;
  height: 43px;
}
.col-xs-1,
.col-sm-1,
.col-md-1,
.col-lg-1,
.col-xs-2,
.col-sm-2,
.col-md-2,
.col-lg-2,
.col-xs-3,
.col-sm-3,
.col-md-3,
.col-lg-3,
.col-xs-4,
.col-sm-4,
.col-md-4,
.col-lg-4,
.col-xs-5,
.col-sm-5,
.col-md-5,
.col-lg-5,
.col-xs-6,
.col-sm-6,
.col-md-6,
.col-lg-6,
.col-xs-7,
.col-sm-7,
.col-md-7,
.col-lg-7,
.col-xs-8,
.col-sm-8,
.col-md-8,
.col-lg-8,
.col-xs-9,
.col-sm-9,
.col-md-9,
.col-lg-9,
.col-xs-10,
.col-sm-10,
.col-md-10,
.col-lg-10,
.col-xs-11,
.col-sm-11,
.col-md-11,
.col-lg-11,
.col-xs-12,
.col-sm-12,
.col-md-12,
.col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;
}
.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11,
.col-xs-12 {
  float: left;
}
.col-xs-12 {
  width: 100%;
}
.col-xs-11 {
  width: 91.66666667%;
}
.col-xs-10 {
  width: 83.33333333%;
}
.col-xs-9 {
  width: 75%;
}
.col-xs-8 {
  width: 66.66666667%;
}
.col-xs-7 {
  width: 58.33333333%;
}
.col-xs-6 {
  width: 50%;
}
.col-xs-5 {
  width: 41.66666667%;
}
.col-xs-4 {
  width: 33.33333333%;
}
.col-xs-3 {
  width: 25%;
}
.col-xs-2 {
  width: 16.66666667%;
}
.col-xs-1 {
  width: 8.33333333%;
}
/* ======= MEDIA QUERIES ======= */
@media (min-width: 1600px) {
  .container {
    width: 1200px;
  }
  .white-section {
  width: 50%;
  }
}


@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
  .col-lg-1,
  .col-lg-2,
  .col-lg-3,
  .col-lg-4,
  .col-lg-5,
  .col-lg-6,
  .col-lg-7,
  .col-lg-8,
  .col-lg-9,
  .col-lg-10,
  .col-lg-11,
  .col-lg-12 {
    float: left;
  }
  .col-lg-12 {
    width: 100%;
  }
  .col-lg-11 {
    width: 91.66666667%;
  }
  .col-lg-10 {
    width: 83.33333333%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-8 {
    width: 66.66666667%;
  }
  .col-lg-7 {
    width: 58.33333333%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-5 {
    width: 41.66666667%;
  }
  .col-lg-4 {
    width: 33.33333333%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-2 {
    width: 16.66666667%;
  }
  .col-lg-1 {
    width: 8.33333333%;
  }
  #projects #project:nth-child(3n) {
    border: none;
  }
  #projects ul li:nth-child(n+4) {
    padding-top: 20px !important;
  }
}
@media (min-width: 992px){
  .col-md-1,
  .col-md-2,
  .col-md-3,
  .col-md-4,
  .col-md-5,
  .col-md-6,
  .col-md-7,
  .col-md-8,
  .col-md-9,
  .col-md-10,
  .col-md-11,
  .col-md-12 {
    float: left;
  }
  .col-md-12 {
    width: 100%;
  }
  .col-md-11 {
    width: 91.66666667%;
  }
  .col-md-10 {
    width: 83.33333333%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-8 {
    width: 66.66666667%;
  }
  .col-md-7 {
    width: 58.33333333%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-5 {
    width: 41.66666667%;
  }
  .col-md-4 {
    width: 33.33333333%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-2 {
    width: 16.66666667%;
  }
  .col-md-1 {
    width: 8.33333333%;
  }
  #projects #project:nth-child(3n) {
    border: none;
  }
  #projects ul li:nth-child(n+2) {
    padding-top: 20px;
  }
  #projects ul li:nth-child(2n) {
    border-right: none;
  }
  .products-gray .box {
    margin: 0px 30px;
    padding: 10px 2px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
}
@media (min-width: 768px) and (max-width: 991px) {
  .col-sm-1,
  .col-sm-2,
  .col-sm-3,
  .col-sm-4,
  .col-sm-5,
  .col-sm-6,
  .col-sm-7,
  .col-sm-8,
  .col-sm-9,
  .col-sm-10,
  .col-sm-11,
  .col-sm-12 {
    float: left;
  }
  .col-sm-12 {
    width: 100%;
  }
  .col-sm-11 {
    width: 91.66666667%;
  }
  .col-sm-10 {
    width: 83.33333333%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-8 {
    width: 66.66666667%;
  }
  .col-sm-7 {
    width: 58.33333333%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-5 {
    width: 41.66666667%;
  }
  .col-sm-4 {
    width: 33.33333333%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-2 {
    width: 16.66666667%;
  }
  #content {
    padding-top: 0px !important;
  }
  #projects ul li {
    padding: 0px 35px !important;
  }
  #projects ul li:nth-child(n+2) {
    padding-top: 20px;
  }
  #projects ul li:nth-child(odd) {
    border-right: 2px solid #e5e5e5;
  }
  #projects ul li:nth-child(even) {
    border-right: none !important;
  }
  #projects ul li:last-child {
    border: none;
  }
  #projects #project {
    padding: 0px 35px !important;
  }
}


