/*Max-width 800px*/
/* ======= BASIC STYLES ======= */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-size: 14px;
}
body {
  margin: 0;
  padding: 0px;
}
#wrapper {
  max-width: 1280px;
  margin: 0 auto;
}
.wrapper {
  width: 96%;
  margin: 0 auto;
}
.wrapper h1 {
  text-align: center;
  color: #db2c3b;
  font-weight: 300;
}
body h1 {
  font-size: 32px;
  margin-top: 10px;
  margin-bottom: 0px;
  line-height: 34px;
}
body h2 {
  font-size: 26px;
  padding-top: 10px;
}
body h3 {
  font-size: 22px;
}
body h4 {
  font-size: 16px;
}
a {
  background-color: transparent;
  text-decoration: none;
  color: #db2c3b;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.active {
  color: #db2c3b !important;
}
.visible-xs {
  display: block !important;
}
.visible-xs-block {
  display: block !important;
}
.visible-xs-inline {
  display: inline !important;
}
.visible-xs-inline-block {
  display: inline-block !important;
}
table.visible-xs {
  display: table !important;
}
tr.visible-xs {
  display: table-row !important;
}
th.visible-xs,
td.visible-xs {
  display: table-cell !important;
}
.hidden-xs {
  display: none !important;
}
.push {
  margin-bottom: 10px;
}
.crumbs {
  margin: 10px auto;
  overflow: hidden;
  font-size: 10px;
}
.crumbs li {
  margin: 0 2px;
}
.crumbs li a {
  color: #232323;
}

/*Header*/
#header {
  height: 60px;
}
#head-wrap {
  background: #232323;
  padding: 10px 18px 0px 25px;
}
.logo-div {
  display: block;
  float: left;
  position: relative;
  padding: 0px 0px;
}
.logo-text-img {
  margin: 4px 0;
  padding: 2px 8px;
  height: 32px;
}
#mainImage {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: auto;
}
#mainImage img {
  width: 100%;
}
.img-header {
  max-width: 1280px;
  position: relative;
  width: 100%;
}
.bg-img2 {
  position: relative;
  width: 100%;
  height: auto;
  z-index: 1;
}

/* ======= NAVIGATION STYLES ======= */
.burg {
  width: 100%;
  height: 5px;
  background-color: #FFF;
  margin-bottom: 8px;
}
#themenu {
  width: 45px;
  /*height: 50px;*/
  float: right;
  margin-top: 3px;
  margin-right: 10px;
}
.fa-bars {
  display: block;
  font-size: 36px;
}
.menu {
  float: right;
  width: 100%;
  margin: 0;
  text-align: right;
}
.menu:nth-child(2) {
  margin-top: 10px;
}
.menu ul {
  float: right;
}
#nav1 {
  float: left;
  width: 40%;
}
#nav2 {
  float: right;
  width: 60%;
  display: none;
}
#top-title {
  font-size: 15px;
  color: #fff;
  text-transform: uppercase;
  padding-top: 30px;
  display: none;
}
#form {
  float: right;
  margin-left: 10px;
  background: #404040;
  margin-top: 5px;
}
#input {
  background: #404040;
  border: none;
}
#m-glass {
  color: white;
  z-index: 1;
  margin-right: 5px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
li {
  display: inline-block;
}
.news-contact li {
  margin: 0 4px;
  color: #404040;
}
.top-li a {
  display: block;
  height: 30px;
  text-align: center;
  line-height: 30px;
  color: #fff;
  text-transform: uppercase;
  font-size: 12px;
}
.main-li a {
  display: block;
  height: 30px;
  text-align: center;
  line-height: 30px;
  color: #fff;
  text-transform: uppercase;
  font-size: 15px;
  margin-left: 20px;
}
.bold-links {
  font-weight: bold;
  text-transform: uppercase;
  color: black;
  padding-right: 10px;
  font-size: 14px;
}

/*Home*/
#homeSlide img {
  width: 100%;
}
.slideImg {
  position: relative;
}

/*Crousel*/
.carousel-control .icon-prev:before {
  font-size: 42px;
}
.carousel-control [dir="rtl"] .icon-prev:before {
  font-size: 42px;
}
.carousel-control .icon-next:before {
  font-size: 42px;
}
.carousel-control [dir="rtl"] .icon-next:before {
  font-size: 42px;
}
.carousel-control .icon-prev,
.carousel-control .icon-next,
.carousel-control .glyphicon-chevron-left,
.carousel-control .glyphicon-chevron-right {
  top: 42%;
}
.carousel-indicators {
  bottom: -10px;
}

/*Products*/
#products h1{
  font-size: 26px;
  line-height: 28px;
}
.product-list ul {
  padding: 10px;
  -webkit-columns: 2;
  -moz-columns: 2;
  columns: 2;
}
ul.columns {
  columns: 1;
}
.table thead th {
  border-top: none;
}
#firebarrier table.wrap tr td {
  white-space: nowrap;
}
#white-wrapper {
  margin: 10px;
  padding-left: 100px;
  padding-right: 100px;
}
#white-wrapper h2 {
  font-size: 20px;
}
#white-wrapper h3 {
  font-size: 18px;
  color: #666;
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 5px;
}
#white-wrapper p {
  color: #db2c3b;
  font-size: 18px;
}
#white-wrapper li {
  color: #db2c3b;
  font-size: 14px;
  line-height: 1.6em;
}
.leed-sec h2 {
  margin-bottom: 5px;
}
.bt-margin {
  margin: 60px 0;
  text-align: center;
}
.close {
  padding-left: 10%;
  padding-right: 10%;
}
.closer {
  padding-left: 15%;
  padding-right: 15%;
}
.half {
  width: 46%;
  float: left;
  padding-left: 2%;
  padding-right: 2%;
}
.two-lists li {
  display: block;
  width: 50%;
}
.one-list li {
  display: block;
  width: 100%;
}
.leed-sec p {
  float: left;
  width: 33.33%;
}
.product-desc {
  width: 100%;
  text-align: center;
  margin-bottom: 55px;
}
.product-list ul {
  -webkit-columns: 1;
  -moz-columns: 1;
  columns: 1;
}
.product-title {
  color: #db2c3b;
  margin-top: 10px;
}
.product-summ {
  margin-left: 175px;
  margin-right: 175px;
}
.product-data {
  background-color: #404040;
}
.white-section {
  bottom: 200px;
  left: 150px;
  background-color: #e5e5e5;
  opacity: 0.85;
  filter: alpha(opacity=85);
  position: absolute;
  width: 45%;
}
.white-section ul {
  width: 70%;
  margin: 0 auto 10px auto;
  text-align: center;
}
.white-section h1 {
  text-transform: uppercase;
  font-size: 30px;
  color: white;
  text-shadow: 2px 2px 2px #1f1f1f;
  margin: 80px 0 0 0;
  float: left;
}
.white-section img {
  float: left;
  width: 200px !important;
}
.tech-data {
  width: 45%;
  float: left;
  margin-left: 2.5%;
  margin-right: 2.5%;
}
.add-resources {
  width: 45%;
  float: right;
  margin-left: 2.5%;
  margin-right: 2.5%;
}
.data-h1 {
  text-transform: uppercase;
  color: white;
  font-weight: 300;
  padding-top: 10px;
}
.tech-data ul li {
  width: 98%;
  margin-left: 2%;
  color: white;
  padding-bottom: 5px;
}
.add-resources ul li {
  width: 98%;
  margin-left: 2%;
  color: white;
  padding-bottom: 5px
}
.tech-data ul ul li {
  display: inline;
}
.add-resources ul ul li {
  display: inline;
}
.tech-data ul ul li a {
  display: inline-block;
  padding: 5px 8px;
  border: 1px solid white;
  margin-top: 3px;
  color: white;
  font-size: 10px;
  text-align: center;
  width: 50px;
}
.add-resources ul ul li a {
  display: inline-block;
  padding: 5px 8px;
  border: 1px solid white;
  margin-top: 3px;
  color: white;
  font-size: 10px;
  text-align: center;
  width: 50px;
}
#data {
  background-color: #404040;
  padding: 40px 0px;
  color: #FFF;
}
.techTable ul li div {
  margin: 0px;
  display: inline-block;
}
.techTable td {
  width: 100%;
  vertical-align: top;
  display: block;
  text-align: center;
}
.techTable h1 {
  font-size: 25px;
  font-weight: 300;
  margin-bottom: 0px;
  text-transform: uppercase;
  color: #FFF;
  text-align: center;
}
.techTable h2 {
  font-size: 18px;
  font-weight: 300;
}
.dataSheet {
  float: left;
  width: 95%;
}
.dataSheet li {
  width: 105% !important;
  margin-bottom: 20px;
}
.borderRight {
  border-right: 1px solid transparent;
}


/*Projects*/
#caseHistory tr {
  float: left;
  width: 100%;
  margin-left: -5px;
}
#caseHistory td {
  width: 100%;
  display: block;
  clear: both;
  float: left;
  vertical-align: top;
}
.rightBorderGrey {
  border-right: none;
}
#projects #project {
  padding: 15px;
}
#projects #project:last-child .photoThing{
  border-bottom: none !important;
}
#projects img,
#projects .desc {
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}
#project .desc {
  padding: 0px 0px;
}
.photoThing {
  margin-bottom: 20px;
  width: auto;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 15px;
}
a .photoThing {
  color: #000;
}
.photoThing h3 {
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 0px;
  margin-top: 8px;
}
.photoThing p {
  font-size: 14px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.redText {
  color: #db2c3b;
}
.photoThing small {
  font-size: 12px;
}
.mobie {
  width: 100%;
  clear: both;
  display: block;
  margin-bottom: 10px;
}
.box {
  float: none;
  margin-right: 0px;
  margin-bottom: 5px;
  background-color: #FFF;
}
a .box {
  color: #db2c3b;
}
.pushRight {
  float: none;
  margin-top: -20px;
  margin-right: 15px;
}
/*Links Page*/
.links li {
  font-size: 16px;
  line-height: 18px;
  padding: 4px 0px;
}
/*System Search*/
#designs {
  text-align: center;
}
#designs table th.dt-body-center, #designs table td.dt-body-center {
  max-width: 30px !important;
  width: 10% !important;
  box-sizing: border-box;
}
#designs table .design-num {
  width: 70% !important;
}
#designs table .pdf-col {
  width: 20% !important;
}
table.dataTable thead .sorting_asc, table.dataTable thead .sorting_desc {
  background: none;
}
.dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_length {
  font-size: 12px;
}
.dataTables_wrapper .dataTables_length {
  text-align: center;
}
/*Footer*/
footer p{
  text-align: center;
  line-height: 11px;
}
#foot-wrap {
  font-size: 10px;
  display: block;
  width: 100%;
  float: left;
  background: #232323;
  text-align: center;
  padding: 5px 0;
  margin-top: -10px;
}
footer #leftside {
  width: 390px;
  float: right;
}
footer #rightSide {
  float: left;
}
footer #rightSide ul li {
  display: block;
}
.right p {
  text-align: center !important;
}
.bottom-a {
  text-transform: uppercase;
  font-size: 10px;
}
/* ======= MEDIA QUERIES ======= */
@media(min-width:667px) and (max-width:750px) {
  .headnav {
    width: 100% !important;
  }
  .headnav ul {
    display: none;
  }
  .languageToggle ul {
    display: block;
  }
  #logo {
    width: 330px;
  }
  #productTabs {
    display: none;
  }
  #tabs #accordion h3 {
    display: block;
  }
  .navBar {
    display: none;
  }
  .navBar {
    display: none;
  }
  .header {
    display: block;
  }
  .productFinder {
    width: 100%;
  }
  .productFinder .dd {
    width: 31% !important;
  }
  #podRight {
    display: none;
  }
  #dropdowns {
    width: 100% !important;
  }

  .podcage {
    min-height: 372px !important;
  }
  #productTabs ul li {
    width: 100%;
    padding: 5px 0px;
  }
  .rightColumn #tabs ul li a {
    padding-left: 0px;
  }
  .rightColumn #tabs ul {
    padding-bottom: 0px;
  }
  .topContent p {
    float: left;
  }
  #productTabs li:nth-child(1) a,
  #productTabs li a {
    padding-left: 20px !important;
  }
  .leftColumn {
    margin-top: -162px;
  }
  .colorSelections {
    margin-top: -30px;
  }
  #colorSelect li {
    width: 31.9%;
  }
  #pfResults .section ul {
    margin-bottom: 10px;
    width: 58%;
    float: left;
  }
  #pfResults .leftSide ul {
    width: 100%;
  }
  #pfResults .section .rightSide {
    width: 90% !important;
    margin: 0 auto;
    float: none;
  }
  #pfResults .section button {
    float: left;
  }
  #productTabs {
    display: none;
  }
  #tabs #accordion {
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
  }
  #tabs #accordion h3 {
    padding: 5px 10px;
    display: block;
    border-bottom: 1px solid #ccc;
  }
  #tabs #accordion .ui-state-active {
    text-transform: uppercase !important;
  }
  .rightColumn #tabs #tabs-1,
  .rightColumn #tabs #tabs-2,
  .rightColumn #tabs #tabs-3 {
    padding: 20px;
  }
  .rightColumn #tabs .section {
    width: 100%;
  }
  .rightColumn #tabs .section h3 {
    padding: 5px 0px;
  }
  #noStudy img {
    width: 60px;
  }
  #cases .padding {
    padding: 20px 10px;
  }
  .hideCaseOrSomething {
    display: none;
  }
  #projects .photoThing {
    padding-bottom: 0px;
    margin-bottom: 0px;
  }
}
@media only screen and (min-width: 300px) and (max-width: 766px) {
  body p {
    font-size: 14px;
  }
  #news {
    text-align: center;
    padding-bottom: 36px;
    border-bottom: 2px solid #666666;
  }
  .products-info {
    text-align: center;
  }
  .products-gray p {
    text-align: center;
  }
  .panel-heading i {
    font-size: 18px;
    line-height: 22px;
    margin: auto 2px;
  }
  .panel-body {
    padding-left: 0px;
  }
  #projects #project {
    height: auto;
    border-right: none !important;
  }
  #projects .photoThing {
    padding-bottom: 0px;
    margin-bottom: 0px;
    border-bottom: 1px solid #e5e5e5;
  }
  #news-page #news-item {
    border-left: none !important;
    border-bottom: 2px solid #e5e5e5;
  }
  #news-page #news-item:last-child {
    border-bottom: none;
  }
  #news-page #news-item img {
    height: 100px;
    width: auto;
  }
  .products-info:first-child {
    border-right: none;
    border-bottom: 2px solid #666666;
  }
  /*System Search*/
  #designs {
    table {
      td.dt-body-center {
        max-width: 30px;
      }
    }
  }
}

