/*only screen and (min-width:801px) and (max-width:1100px), only screen and (max-device-width: 1100px)*/

@charset "UTF-8";

/* CSS Document */


/*Homepage*/

#mobileSocial a {
  float: left;
  padding: 0px 8px;
}
#mobileSocial {
  padding: 10px 10px 10px 40px;
}
#mobileSocial a:nth-child(1) {
  padding: 0px 8px 0px 0px;
}
.languageToggle {
  z-index: 10;
  top: 87px;
  color: #fff;
}
.languageToggle ul li:nth-child(1)::after {
  color: #fff;
}
.topContent p {
  padding: 5px 10px;
}

/*Products*/
#productTabs li {
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  padding: 5px 0px;
  width: 100%;
}
#productTabs li:nth-child(1) a {
  padding-left: 8px !important;
}
.portfolio img {
  margin-bottom: 20px;
  width: 100%;
}
.rightColumn #tabs .section ul li {
  width: 100%;
}
#resources .leftColumn .dd,
.leftColumn .relative,
#contact2 .leftColumn .dd {
  width: 90% !important;
}
.blueStrip {
  display: none;
}
.aboutLeftText {
  width: 100%;
  border-right: 0px;
}
.aboutRightText {
  float: left;
  display: block;
  margin-top: 20px;
}
#about .caged {
  width: 100%;
}
#contactPod button {
  right: -4px !important;
  bottom: 1px;
}
#resources .ui-state-default {
  text-transform: uppercase;
  display: block !important;
}
#tabs2 .ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active {
  text-transform: uppercase;
  margin-bottom: 20px;
}
.ui-accordion-content-active {
  padding-left: 10px;
  margin-bottom: 20px;
}
#resources h3 {
  font-size: 1.5rem;
  margin-top: 0px;
  padding: 5px 20px;
  color: #fff;
  background-color: #0099D8;
  border-bottom: 1px solid #fff;
}
#faqAccord h3 {
  font-size: 1rem !important;
  padding: 0px;
  text-transform: initial !important;
  color: #000;
  background-color: transparent;
}
#faqAccord .ui-state-active {
  margin-bottom: 5px;
  font-weight: bold !important;
  color: #000 !important;
  text-transform: initial !important;
}
#faqAccord .ui-accordion-content-active {
  margin-bottom: 10px;
}
#tabs-2694 h3,
#tabs-2695 h3 {
  font-size: 1.3rem;
  background-color: transparent;
  color: #000;
  padding: 0px 0px;
}
.contained h1 {
  margin-bottom: 10px;
}
.hideCaseOrSomething {
  display: none;
}
.productFinderIndustry {
  width: 100%;
}

/*Projects Page*/
#projects #project {
  padding: 15px;
}
#projects ul li:nth-child(n+2) {
  padding-top: 20px;
}
#projects ul li:nth-child(2n) {
  border-right: none;
}

/*IPAD PORTRAIT*/

@media(min-width:750px) and (max-width:800px) {
  .headnav {
    width: 100% !important;
  }
  .headnav ul {
    margin-top: 29px;
  }
  #tabs #accordion h3 {
    padding: 5px 10px;
    display: block;
    border-bottom: 1px solid #ccc;
  }
  #tabs #accordion .section h3 {
    padding: 5px 0px;
  }
  .rightColumn #tabs .dd {
    width: 100% !important;
  }
  #logo {
    width: 330px;
  }
  #productTabs {
    display: none;
  }
  #tabs #accordion {
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
  }
  #tabs #accordion .ui-state-active {
    text-transform: uppercase !important;
  }
  .rightColumn #tabs #tabs-1,
  .rightColumn #tabs #tabs-2,
  .rightColumn #tabs #tabs-3 {
    padding: 20px;
  }
  .rightColumn #tabs .section {
    width: 100%;
  }
  .rightColumn #tabs .section h3 {
    padding: 5px 0px;
  }
  .navBar ul li {
    padding: 10px 2px 10px 0px;
  }
  #nav li a {
    padding: 2px 5px 0px 4px;
  }
  .arrowShift .arrow {
    margin-left: 6px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .container {
    width: 750px;
  }
  #content {
    padding-top: 0px !important;
  }
  .products-info:first-child {
    border-right: none;
    padding-bottom: 36px;
    border-bottom: 2px solid #666666;
  }
  .box {
    float: none;
    margin-right: 0px;
    background-color: #FFF;
  }
  a .box {
    color: #db2c3b;
  }
  #projects ul li:nth-child(n+2) {
    padding-top: 20px;
  }
  #projects ul li:nth-child(odd) {
    border-right: 2px solid #e5e5e5;
  }
  #projects ul li:nth-child(even) {
    border-right: none !important;
  }
  #projects ul li:last-child {
    border: none;
  }
  .visible-sm {
    display: block !important;
  }
  table.visible-sm {
    display: table !important;
  }
  tr.visible-sm {
    display: table-row !important;
  }
  th.visible-sm,
  td.visible-sm {
    display: table-cell !important;
  }
  .visible-sm-block {
    display: block !important;
  }
  .visible-sm-inline {
    display: inline !important;
  }
  .visible-sm-inline-block {
    display: inline-block !important;
  }
  .hidden-sm {
    display: none !important;
  }
  #news {
    text-align: left;
    border-bottom: 2px solid #666666;
  }
}
